p {
    text-indent: 1em;
}

body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

section#Title img {
    width: 200px;
    border: 1px solid #999;
}

table {
    border: 2px solid #222;
    border-collapse: collapse;
    min-width: 350px;
}

tr {
    border: 2px solid #222;
}

td {
    border: 1px solid #999;
}

thead {
    text-align: center;
    font-weight: bold;
}

.project>.meta {
    text-indent: 1em;
    font-size: 75%;
}

.project>.meta>.date {
    float: right;
}